<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
    usesCleartextTraffic（允许HTTP）
    -->
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="kotlindemo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kotlindemo"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Kotlindemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".first.FirstActivity"
            android:exported="false" />
        <activity
            android:name=".first.c03.C31Activity"
            android:exported="false" />
        <activity
            android:name=".first.c04.C42Activity"
            android:exported="false" />
        <activity
            android:name=".first.c04.C43Activity"
            android:exported="false" />
        <activity
            android:name=".first.c05.C52Activity"
            android:exported="false" />
        <activity
            android:name=".first.c07.C72Activity"
            android:exported="false" />
        <activity
            android:name=".first.c07.C73Activity"
            android:exported="false" />
        <activity
            android:name=".first.c07.C74Activity"
            android:exported="false" />
        <activity
            android:name=".archive.ArchiveActivity"
            android:exported="false" />
        <activity
            android:name=".archive.WebviewActivity"
            android:exported="false" />
        <activity
            android:name=".archive.WorkerActivity"
            android:exported="false" />
    </application>

    <!-- 权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
