<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
    usesCleartextTraffic（允许HTTP）
    -->
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="kotlindemo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kotlindemo"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Kotlindemo">
            <!-- MAIN+LAUNCHER配置启动App后的Activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- VIEW配置该Activity可以响应DeepLink -->
            <!-- demo://example.com/main -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="example.com"
                    android:path="/main"
                    android:scheme="demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".first.FirstActivity"
            android:exported="false" />
        <activity
            android:name=".first.c03.C31Activity"
            android:exported="false" />
        <activity
            android:name=".first.c04.C42Activity"
            android:exported="false" />
        <activity
            android:name=".first.c04.C43Activity"
            android:exported="false" />
        <activity
            android:name=".first.c05.C52Activity"
            android:exported="false" />
        <activity
            android:name=".first.c07.C72Activity"
            android:exported="false" />
        <activity
            android:name=".first.c07.C73Activity"
            android:exported="false" />
        <activity
            android:name=".first.c07.C74Activity"
            android:exported="false" />
        <activity
            android:name=".archive.ArchiveActivity"
            android:exported="false" />
        <activity
            android:name=".archive.DeepLinkActivity"
            android:exported="true">
            <!-- demo://example.com/deeplink -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="example.com"
                    android:path="/deeplink"
                    android:scheme="demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".archive.JumpActivity"
            android:exported="false" />
        <activity
            android:name=".archive.WebviewActivity"
            android:exported="false" />
        <activity
            android:name=".archive.WorkerActivity"
            android:exported="false" />
    </application>

    <!-- 权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 声明需要查询的包名 -->
    <queries>
        <package android:name="com.android.camera" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

</manifest>
